<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <!-- CSS -->
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css" type="text/css">

</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
            
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
<<<<<<< HEAD
                            <input type="text" id="email" class="form-control" placeholder="email">
                            
=======
                            <input type="text" class="form-control" placeholder="email">

>>>>>>> 007b44996a738a603d3bd1521053f4887ac1de3b
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
<<<<<<< HEAD
                            <input type="password" id="password" class="form-control" placeholder="password">
=======
                            <input type="password" class="form-control" placeholder="password">
>>>>>>> 007b44996a738a603d3bd1521053f4887ac1de3b
                        </div>
                        <div class="form-group">
                            <input type="button" value="Login" class="btn float-right login_btn">
                        </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="/welcome">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap/jquery.min.js"></script>
    <script>
        const login = (email , password) =>{
            $.ajax({
                method:'POST',
                url:'/login',
                data:{
                    email , 
                    password
                }
            }).then(res=>{
                let access_token = res.data.token;
                localStorage.setItem("token" , access_token)
                window.user = "Lay";
                window.authed = true;
                location.href="/"
            }).catch(err=>{
                let {responseJSON } = err;
                alert(responseJSON.message)
            })
        }

<<<<<<< HEAD
       $(document).ready(()=>{
            if (localStorage.getItem('token')) {
                location.href  = "/"
            }
            $(".login_btn").click(()=>{
                    let email = $("#email").val()
                    let password = $("#password").val()
                    login(email ,password)
            })
       })
    </script>
    
=======

>>>>>>> 007b44996a738a603d3bd1521053f4887ac1de3b
</body>

</html>