<!-- Footer -->
<footer class="page-c mt-3  footer-fixed">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-2" style="background-color: #e3f2fd; font-size: 15px;">© 2020 Copyright:
        <a href="#"> Shopinas</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->