<!-- Footer -->
<footer class="page-footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #e3f2fd">© 2020 Copyright:
        <a href="#"> Shopinas</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->