<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>User</title>
</head>

<body>
    <nav class="navbar navbar-light fixed-top " style="background-color: #e3f2fd">
        <a class="navbar-brand" href="/">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmA4frbGBQ9BT86njTqhdWYOOqTvjW1KguVw&usqp=CAU" width="30" height="30" class="d-inline-block align-top" alt=""> Shoe Online Shop
        </a>
        <div class="float-right ">
            <div class="auth_btns">
                <a class="btn btn-success" href="../auth/registration" role="button">Sign Up</a>
                <a class="btn btn-primary" href="../auth/login" role="button">Log In</a>
            </div>
            <div class="logout">
                <button class="btn btn-info myCart logout_btn">
                    <i class="fa fa-shopping-cart"></i>
                </button>
                <button class="btn btn-danger logout_btn">Log Out</button>
            </div>
        </div>
    </nav>
</body>

</html>