<nav class="navbar navbar-light fixed-top " style="background-color: #e3f2fd">
    <a class="navbar-brand" href="/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmA4frbGBQ9BT86njTqhdWYOOqTvjW1KguVw&usqp=CAU"
            width="30" height="30" class="d-inline-block align-top" alt=""> Shoe Online Shop
    </a>
    <div class="float-right ">
        <div class="auth_btns">
            <a class="btn btn-success" href="/auth/welcome" role="button">Sign Up</a>
            <a class="btn btn-primary" href="/auth/login" role="button">Log In</a>
        </div>
        <div class="logout">
            <button class="btn btn-danger logout_btn">Log Out</button>
        </div>
    </div>
</nav>