<!-- header -->
<nav class="navbar navbar-light bg-light" style="position:sticky; top:0; z-index:1">
    <a class="navbar-brand" href="/">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmA4frbGBQ9BT86njTqhdWYOOqTvjW1KguVw&usqp=CAU" width="30" height="30" class="d-inline-block align-top" alt="">
      Shoe Online Shop
    </a>
    <div class="float-right"> 
        <input type="button" value="Sign In">
        <input type="button" value="Sign Up">
    </div> 
  </nav>