<nav class="navbar navbar-light fixed-top " style="background-color: #e3f2fd">
    <a class="navbar-brand" href="/">
        <img src="https://www.brandcrowd.com/gallery/brands/pictures/picture15498374273696.jpg"
            width="30" height="30" class="d-inline-block align-top" alt=""> Shoe Online Shop
    </a>
    <div class="float-right ">
        <div class="auth_btns">
            <a class="btn btn-success" href="/welcome" role="button">Sign Up</a>
            <a class="btn btn-primary" href="/login" role="button">Log In</a>
        </div>
        <!-- <div class="logout">
            <button class="btn btn-danger logout_btn" >Log Out</button>
        </div> -->
    </div>
    </nav>
