<div class="sidenav">
    <div class="sideNavContentOut">
        <a href="#">basta</a>
        <a href="#product">Services</a>
        <a href="#order">Contacts</a>
        <a href="#contact">About</a>
    </div>
    <div class="sideNavContentIn">
        <a href="/dashboard">Dashboard</a>
        <a href="/product">Product</a>
        <a href="/order">Order</a>
        <a href="#contact"></a>
    </div>
</div>