<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="/css/bootstrap/all.css">
    <script src="/js/bootstrap/jquery.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <%- include('./../includes/header'); %>
            <main class="main">
                <%- body %>
            </main>
            <%- include('./../includes/footer'); %>
    </div>
    <script>
        $(document).ready(() => {
            if (localStorage.getItem("token")) {
                $(".addToCardBtn").show()
                $(".registerBtn").hide()
                $(".logout").show()
                $(".auth_btns").hide()
            } else {
                $(".addToCardBtn").hide()
                $(".registerBtn").show()
                $(".logout").hide()
                $(".auth_btns").show()
            }

            $(document).on('click', '.detailBtn', (event) => {
                let item = JSON.parse($(event.target).attr('item'));
                $("#itemName").text(item.name)
                $("#itemImage").attr('src', item.image)
                $('.modal').modal('toggle')
            })
        })
    </script>
</body>

</html>