<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Customers</h1>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Location</th>
        <th scope="col">Package #</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mark@mdo.com</td>
        <td>Nasipit, Talamban, Cebu City</td>
        <td>BCE-203-49389-2893</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>jacob@fat.com</td>
        <td>Hibale, Danao, Bohol</td>
        <td>CSE-102-12838-2837</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>larry@twitter.com</td>
        <td>San Juan, Talibon, Bohol</td>
        <td>DSC-265-32468-3477</td>
      </tr>
    </tbody>
  </table>