<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Orders</h1>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Package</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td >BCE-203-49389-2893</td>
        <td>Pending</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>CSE-102-12838-2837</td>
        <td>Confirmed</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>DSC-265-32468-3477</td>
        <td>Delivered</td>
      </tr>
    </tbody>
  </table>